body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.2;
}
h2 {
    font-size: 1.7rem;
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.2;
}
